<script type="text/javascript" src="/jsrobowar/js/third-party/raphael-1.4.3.min.js"></script>
<script type="text/javascript" src="/jsrobowar/js/third-party/underscore-1.0.4.min.js"></script>
<script type="text/javascript" src="/jsrobowar/js/third-party/base.js"></script>
<script type="text/javascript" src="/jsrobowar/js/jsrobowar_fs.js"></script>
<script type="text/javascript" src="/jsrobowar/js/gui_fs.js"></script>

<div id="game-container">

  <section id="play">

    <div id="game">
      <div id="arena"></div>
      <div id="scoreboard"></div>
    </div>

    <div class="clearfix"></div>
    <div id="controls">
      <button id="draw">Draw</button>
      <button id="start">Battle</button>
      <button id="stop">Halt</button>
      <input type="checkbox" id="sound" autocomplete="off"/>
      Enable sound
    </div>
    <fieldset id="choices">
      <%= label_tag :robot_slots %>
      <%= text_field_tag :robot_slots, 2 %>
      <legend>Load a robot to test against:</legend>
      <ol></ol>
    </fieldset>
  </section>
</div>
