// Place all the styles related to the Robots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#arena {
  float: left
}
#scoreboard { 
  float: left
}

.robots a.create {
  float: right;
}

.robots table {
  margin-top: 10px;

  .actions {
    width: 200px;
  }

  td.name {
    font-size: 24px;
    font-weight: bold;
  }
}

form.robot {
  #game-container {
    float: right;
    width: 600px;
  }
  fieldset {
    float: left;
  }
  .controls {
    input, textarea {
      width: 500px;
    }
  }

  .form-actions {
    clear: both;
  }

  .CodeMirror {
    width: 508px;
    background-color: #fff;
    border: 1px solid #EEE;
  }
  .CodeMirror-scroll {
    height: 500px;
    overflow: visible;
  }
}

#robot_slots {
  width: 20px;
}
