.navbar
  .navbar-inner
    .container
      %a.brand{:href => "/"} Hackstrap
      .nav-collapse
        %ul.nav
          %li.logos
            %a{:href => '/'}
              = image_tag current_user.avatar_url
              = image_tag "logos/icon-#{current_user.provider}.png"
          %li.dropdown
            %a.dropdown-toggle.home{ :href => '#', 'data-toggle' => "dropdown"}
              Hello,
              = current_user.username
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "/logout"} Logout
          %li{ :class => controller_name == 'robots' ? 'active' : '' }
            %a{ :href => '/robots' }
              Your robots
          %li{ :class => controller_name == 'tutorial' ? 'active' : '' }
            %a{ :href => '/tutorial' }
              Tutorial
          %li{ :class => controller_name == 'questions' ? 'active' : '' }
            %a{ :href => '/questions' }
              FAQ
          - if current_user.staff?
            %li
              %a{ :href => '/tournament' } Tournament
          %li{:class => controller_name == 'leaderboard' ? 'active' : ''}
            %a{ :href => '/leaderboard' } Leaderboard
          %li.divider-vertical
